html,
body {
  margin: 0;
  padding: 0;
  /* background-color: black; */
}
.canvas,
.wrapper {
  margin: 0 auto;
  display: block;
  position: fixed;
}

.image {
  width: 14rem;
  height: 16rem;
  position: absolute;
  inset: auto;
  margin: auto;
  object-fit: cover;
  // pointer-events: none;
}
